/* ---------- Global CSS ---------- */
.public-pages {
	position: relative;
	overflow-x: hidden;
	display: flex;
	width: 100%;
	flex-direction: column;
	flex-basis: auto;
	min-height: 100vh;
	background-color: #fff;
	margin-bottom: 312px;
	z-index: 2;
}

.a4 {
	margin: 0 auto;
	max-width: 210mm;
}

.lang-buttons {
	position: absolute;
	right: 28px;
	top: 5px;
	font-size: 12px;
}

.lang-btn {
	cursor: pointer;
	color: #fff !important;
}

.lang-btn:hover {
	text-decoration: none;
	color: #50c9ff !important;
}

@media only screen and (min-width: 400px) {
	.public-pages {
		margin-bottom: 272px;
	}
}

@media only screen and (max-width: 766px) {
	.lang-buttons {
		position: absolute;
		right: 88px;
		top: 25px;
		font-size: 12px;
	}
}

.modal {
	background-color: rgba(0, 0, 0, 0.75);
}
.modal-backdrop {
	position: relative !important;
}
.modal-images {
	width: 100%;
}
.modal-images:hover {
	opacity: 0.9;
	cursor: pointer;
}
body.modal-open {
	overflow: hidden !important;
	position: fixed;
	width: 100%;
}

/* ---------- Nav Bar CSS ---------- */
.nav-item-effect {
	font-size: 1.5em;
	font-weight: lighter;
	margin-right: 0.25em;
	color: #fff !important;
}
.nav-item-effect:hover {
	color: #50c9ff !important;
}
@media only screen and (max-width: 800px) {
	.nav-item {
		font-size: 0.95em;
	}
}

/* ---------- Home Page CSS ---------- */
.search-button {
	position: absolute;
	background-color: #50c9ff;
	color: #fff;
	top: -70px;
	margin-left: -2em;
	padding: 10px 60px;
}
.search-button:hover {
	background-color: #fff;
	border-color: #50c9ff;
	color: #50c9ff;
}
.search-form {
	padding: 3em;
	background-color: #343a40;
}

.home-carousel .home-carousel-item {
	height: 700px;
	width: 100%;
}
.home-carousel-item img {
	position: absolute;
	width: 100%;
}
.carousel-caption h5 {
	font-size: 4.5em;
	position: static;
}
.carousel-caption p {
	font-size: 1.2em;
	position: static;
}
@media screen and (min-width: 300px) {
	.home-carousel-item img {
		top: -2px;
	}
	.home-carousel .home-carousel-item {
		height: 200px;
	}
	.search-button {
		margin-left: -5.2em;
	}
}
@media screen and (min-width: 445px) {
	.home-carousel .home-carousel-item {
		height: 300px;
	}
	.search-button {
		margin-left: -5em;
	}
}
@media screen and (min-width: 745px) {
	.home-carousel .home-carousel-item {
		height: 500px;
	}
	.search-button {
		margin-left: -4em;
	}
}
@media screen and (min-width: 1050px) {
	.home-carousel .home-carousel-item {
		height: 700px;
	}
}
@media screen and (min-width: 1200px) {
	.home-carousel-item img {
		top: -10%;
	}
	.search-button {
		margin-left: -3em;
	}
}
@media screen and (min-width: 1400px) {
	.home-carousel-item img {
		top: -33%;
	}
}
@media screen and (min-width: 1800px) {
	.home-carousel-item img {
		top: -70%;
	}
}
@media screen and (min-width: 2000px) {
	.search-button {
		margin-left: -0.75em;
	}
}

.the-card {
	margin: 0 auto;
	max-width: 600px;
}

.property-container {
	margin: 0;
}

@media screen and (min-width: 990px) {
	.property-container {
		margin: 3em;
	}
}

.underlined-title-blue {
	margin: 0 auto;
	text-align: center;
	width: 20em;
	border-bottom: 3px solid #50c9ff;
	margin-bottom: 50px;
}

.underlined-title-white {
	margin: 0 auto;
	text-align: center;
	width: 31.5em;
	border-bottom: 3px solid #fff;
}

.property-carousel-item img {
	height: 300px;
	width: 100%;
}

@media screen and (max-width: 580px) {
	.hide-on-xs {
		display: none;
	}
}
@media screen and (min-width: 400px) {
	.underlined-title-blue {
		width: 31.5em;
	}
}

/* ---------- Newsletter Box CSS ---------- */

.btn-cel {
	background-color: #fff;
	color: #50c9ff;
}

.btn-cel:hover {
	background-color: #50c9ff;
	border-color: #fff;
	border-width: 2px;
	border-style: dotted;
	color: #fff;
}

.newsletter-title {
	font-size: 1.4em;
	margin: 0 auto;
	text-align: center;
	width: 13.5em;
	border-bottom: 3px solid #fff;
	padding-bottom: 10px;
}

.newsletter-box {
	background-image: url('./components/images/newsletter-london.jpg');
	height: 230px;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}

@media screen and (max-width: 400px) {
	.news-title-container {
		margin-bottom: 1em !important;
	}
}

@media screen and (min-width: 400px) {
	.newsletter-title {
		font-size: 1.75em;
	}

	.newsletter-box {
		height: 200px;
	}
}

.newsletter-col {
	width: auto !important;
}

.parallax {
	position: fixed;
	bottom: 0;
	width: 100%;
}
/* ---------- Services Page CSS ---------- */
.show-on-large-screens {
	display: none;
}

.show-on-small-screens {
	display: flex;
}

.card {
	min-width: 100vw;
}
.card-header {
	background-color: #50c9ff;
}

.btn-accordion {
	border-radius: 0;
	background-color: #f8f8f8;
	color: #000;
	min-width: 92vw;
	position: absolute;
	height: 49px;
	top: 0;
	left: 60px;
	padding-left: 0;
}
.btn-accordion:hover {
	text-decoration: none;
	background-color: #50c9ff;
	color: #fff;
}
.btn-accordion:focus {
	text-decoration: none;
}
.service-row:hover {
	color: #fff;
}

.service-container {
	padding: 1em 2em;
	color: #fff;
	background-image: url('./components/images/services-london.jpg');
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	background-attachment: fixed;
}
.service-container p {
	font-size: 17px;
	padding-bottom: 1em;
}
.service-nav-item a {
	color: #50c9ff;
	margin-bottom: 1em;
}
.service-title {
	margin: 0 auto;
	width: 10em;
	border-bottom: 3px solid #50c9ff;
	margin-bottom: 50px;
}
.nav-tabs--vertical {
	border-bottom: none;
	border-right: 1px solid #ddd;
	display: flex;
	flex-flow: column nowrap;
}
.nav-tabs--left {
	margin: 0 15px;
}
.nav-tabs--left .nav-item + .nav-item {
	margin-top: 0.25rem;
}
.nav-tabs--left .nav-link {
	transition: border-color 0.125s ease-in;
	white-space: nowrap;
}
.nav-tabs--left .nav-link:hover {
	background-color: #f7f7f7;
	border-color: transparent;
}
.nav-tabs--left .nav-link.active {
	border-bottom-color: #ddd;
	border-right-color: #fff;
	border-bottom-left-radius: 0.25rem;
	border-top-right-radius: 0;
	margin-right: -1px;
}
.nav-tabs--left .nav-link.active:hover {
	background-color: #fff;
	border-color: #50c9ff #fff #50c9ff #50c9ff;
}

@media screen and (max-width: 400px) {
	.service-title {
		font-size: 1.65em;
		padding-top: 0 !important;
		margin-bottom: 50px;
	}
}

@media screen and (min-width: 800px) {
	.show-on-large-screens {
		display: flex;
	}
	.show-on-small-screens {
		display: none;
	}
}

@media screen and (min-width: 900px) {
	.service-container {
		padding: 1em 6em;
	}
}
/* ---------- Contacts Page CSS ---------- */
.contact-title {
	margin: 0 auto;
	color: #fff;
	text-align: center;
	width: 8.8em;
	border-bottom: 3px solid #50c9ff;
}
.icon-box {
	margin-top: -10px;
	background-color: #343a40;
}
.icon-row {
	padding: 3em 1em;
}
.fa-stack {
	padding: 0;
}
.contact-icon {
	font-size: 30px;
	color: #50c9ff;
}
.fab {
	font-size: 30px;
	color: #50c9ff;
}
.far {
	color: transparent;
	border: 2px solid #fff;
	border-radius: 50%;
}
.query-title {
	margin: 0 auto;
	text-align: center;
	width: 9.1em;
	border-bottom: 3px solid #50c9ff;
	margin-bottom: 50px;
}
.submit-button {
	background-color: #50c9ff;
	color: #fff;
	width: 100%;
	margin-top: 15px;
	margin-bottom: 5em;
	padding: 0.6em 0;
}
.submit-button:hover {
	background-color: #fff;
	border-color: #50c9ff;
	color: #50c9ff;
}
.contacts-white-text {
	color: #fff;
	margin-top: 15px;
	font-size: 18px;
}

/* ---------- About Page CSS ---------- */
.profile-pic {
	height: 500px;
}

.rounded-circle {
	margin-left: 3rem;
}

.profile-name {
	text-align: right;
	padding-top: 1em;
}

.about-title {
	margin: 0 auto;
	color: #fff;
	width: 4.2em;
	border-bottom: 3px solid #50c9ff;
	margin-bottom: 15px;
}

.about-why-title {
	margin: 0 auto;
	width: 14.5em;
	border-bottom: 3px solid #50c9ff;
}

.about-why-bubble {
	width: 80%;
	margin-top: 30px;
	margin-left: 50px;
	border-radius: 8px;
	background-color: #f7f7f7;
	border: 1px solid #f7f7f7;
	padding: 20px;
	color: #000;
	position: relative;
}

.about-why-bubble:after {
	content: '';
	width: 0px;
	height: 0px;
	position: absolute;
	border-left: 10px solid transparent;
	border-right: 20px solid #f7f7f7;
	border-top: 15px solid transparent;
	border-bottom: 15px solid transparent;
	left: -30px;
	top: 10px;
}

.about-quote-left {
	color: #50c9ff;
	position: absolute;
	left: 3px;
	top: 3px;
	font-size: 30px;
	opacity: 0.3;
}

.about-quote-right {
	color: #50c9ff;
	position: absolute;
	right: 3px;
	bottom: 3px;
	font-size: 30px;
	opacity: 0.3;
}

.parlx {
	background-image: url('./components/images/hp.jpg');
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	background-attachment: fixed;
}

.timeline {
	position: relative;
	max-width: 1200px;
	margin: 0 auto;
	padding: 2em 0;
}

.timeline::after {
	content: '';
	position: absolute;
	width: 6px;
	background-color: white;
	top: 0;
	bottom: 0;
	left: 50%;
	margin-left: -3px;
}

.timeline-container {
	padding: 10px 40px;
	position: relative;
	background-color: inherit;
	width: 50%;
}

.timeline-container::after {
	content: '';
	position: absolute;
	width: 25px;
	height: 25px;
	right: -12px;
	background-color: white;
	border: 4px solid #50c9ff;
	top: 20px;
	border-radius: 50%;
	z-index: 1;
}

.timeline-left {
	left: 0;
}

.timeline-right {
	left: 50%;
}

.timeline-left::before {
	content: ' ';
	height: 0;
	position: absolute;
	top: 22px;
	width: 0;
	z-index: 1;
	right: 30px;
	border: medium solid white;
	border-width: 10px 0 10px 10px;
	border-color: transparent transparent transparent white;
}

.timeline-right::before {
	content: ' ';
	height: 0;
	position: absolute;
	top: 22px;
	width: 0;
	z-index: 1;
	left: 30px;
	border: medium solid white;
	border-width: 10px 10px 10px 0;
	border-color: transparent white transparent transparent;
}

.timeline-right::after {
	left: -12px;
}

.timeline-content {
	padding: 20px 30px;
	background-color: white;
	position: relative;
	border-radius: 6px;
}

@media screen and (max-width: 767px) {
	.profile-name {
		text-align: center;
	}
	.rounded-circle {
		margin-left: 0;
	}
	.profile-pic {
		height: 350px;
	}
	.about-why-bubble {
		width: 87%;
	}
}

@media screen and (max-width: 500px) {
	.about-why-bubble {
		width: 80%;
	}
	.about-title {
		margin-bottom: 0;
	}
}

@media screen and (max-width: 600px) {
	.timeline::after {
		left: 31px;
	}

	.timeline-container {
		width: 100%;
		padding-left: 70px;
		padding-right: 25px;
	}

	.timeline-container::before {
		left: 60px;
		border: medium solid white;
		border-width: 10px 10px 10px 0;
		border-color: transparent white transparent transparent;
	}

	.timeline-left::after,
	.timeline-right::after {
		left: 15px;
	}

	.timeline-right {
		left: 0%;
	}
}

/* ---------- Properties Page CSS ---------- */

.flex-wrapper {
	display: flex;
	background-color: #fff;
}

.properties-container {
	overflow: auto;
	height: calc(100vh - 150px);
	flex-basis: 60%;
	display: flex;
	flex-direction: column;
	margin-bottom: 5px;
}

.properties-container-sm {
	overflow: auto;
	height: 50vh;
	margin-bottom: 5px;
}

.map-container {
	flex-grow: 1;
	bottom: 0;
	position: sticky;
	margin-bottom: 5px;
}

.the-map {
	width: 98%;
	height: calc(100vh - 149px);
}

.the-map-sm {
	height: 50vh;
}

.properties {
	display: flex;
	flex-wrap: wrap;
	align-content: flex-start;
}

.search {
	padding: 10px;
	margin-right: 5px;
}

.search input {
	width: 100%;
	height: 40px;
	font-size: 24px;
	color: #999;
}

.more-button {
	cursor: pointer;
	width: 95%;
	height: 40px;
	background-color: #50c9ff;
	color: #fff;
}

.more-button:hover {
	background-color: #fff;
	border-color: #50c9ff;
	color: #50c9ff;
}

.property-card {
	flex-basis: calc(50% - 10px);
	margin: 0 5px 10px 5px;
	border: 1px solid #e9e9e9;
}

@media screen and (min-width: 1100px) {
	.property-card {
		flex-basis: calc(33.3% - 10px);
	}
}

@media screen and (min-width: 1800px) {
	.property-card {
		flex-basis: calc(25% - 10px);
	}
}

.property-card:hover {
	opacity: 0.9;
	cursor: pointer;
}
.property-picture {
	height: 200px;
	background-size: cover;
	background-position: center;
}

.property-price {
	margin-top: -10px;
}

.price-tag {
	margin: 0 auto;
	text-align: center;
	background-color: #50c9ff;
	width: 100px;
	height: 22px;
}

.property-location p {
	font-size: 17px;
}

.marker {
	width: 100px;
	border: 4px solid #fff;
	background-color: #fff;
	padding: 1px;
	transform: translate(-50%, -150%);
	text-align: center;
	border-radius: 4px;
	font-size: 17px;
	color: #000;
	cursor: pointer;
	position: relative;
}
.marker.selected {
	position: relative;
	background-color: #50c9ff;
	z-index: 2;
	border-color: #50c9ff;
}
.marker.selected::before {
	border-top: 10px solid #50c9ff;
}

.marker:before {
	content: '';
	width: 0px;
	height: 0px;
	position: absolute;
	border-left: 10px solid transparent;
	border-right: 10px solid transparent;
	border-top: 10px solid #fff;
	border-bottom: 10px solid transparent;
	right: 40%;
	bottom: -23px;
}

.card-icon {
	color: #999;
}

.modal-icon {
	color: #999;
	font-size: 50px;
}

.modal-icon-btn {
	background-color: #50c9ff;
	color: #fff;
}

.more-pictures-button {
	cursor: pointer;
	width: 100%;
	height: 40px;
	background-color: #50c9ff;
	color: #fff;
}

.more-pictures-button:hover {
	background-color: #fff;
	border-color: #50c9ff;
	color: #50c9ff;
}

@media screen and (max-width: 780px) {
	.hide-below-eh {
		display: none;
	}
	.show-below-md {
		display: block;
	}
	.hide-below-md {
		display: none;
	}
}
@media screen and (min-width: 780px) {
	.show-below-md {
		display: none;
	}
	.hide-below-md {
		display: block;
	}
	.property-info {
		font-size: 0.9em;
	}
	.property-info p {
		font-size: 1.3em;
	}
}
@media screen and (max-width: 410px) {
	.property-search-bar {
		width: 260px;
		padding-left: 5px;
	}
	.search input {
		font-size: 0.95em;
	}
	.property-search-button {
		width: 80px;
	}
	.more-button {
		padding-left: 3px;
	}
	.property-info {
		font-size: 0.9em;
	}
	.property-info p {
		font-size: 1.1em;
	}
	.property-picture {
		height: 150px;
	}
	.modal-header h5 {
		font-size: 1.1em;
	}
	.modal-body p {
		font-size: 0.9em !important;
	}
	.modal-body i {
		font-size: 2em !important;
	}
	.hide-on-phone {
		display: none;
	}
}

/* ---------- Admin Page CSS ---------- */
.newsletter-flex-wrap {
	display: flex;
	background-color: #52545b;
	color: #fff;
}

.active-subscribers {
	background-color: #52545b;
	width: 100%;
	text-align: center;
	border-right: 1px solid #fff;
}

.subscriber-list {
	margin: 10px;
	font-size: 14px;
	background-color: #42454d;
}
.subscriber-list p {
	margin: 0;
	padding: 3px 0;
}
.subscriber-list p:hover {
	background-color: #50c9ff;
}
.subscriber-list-title {
	padding-top: 10px;
	font-size: 18px;
}

.newsletter-subs-container {
	overflow: auto;
	height: 92vh;
	flex-basis: 35%;
	display: flex;
	flex-direction: column;
}

.newsletter-input-container {
	flex-grow: 1;
	bottom: 0;
	position: sticky;
	margin-bottom: 5px;
}

.newsletter-mails {
	display: flex;
	flex-wrap: wrap;
	align-content: flex-start;
}

.newsletter-admin-form {
	width: 99%;
}

.admin-wrapper {
	height: 100vh;
	background: url('./components/images/london-admin.jpg') no-repeat center
		center fixed;
	background-size: cover;
}

.create-property {
	color: #fff;
}

.edit-property {
	color: #fff;
	background-color: #52545b;
}

.manage-properties {
	background-color: #52545b;
	padding-bottom: 20px;
}

.btn-new-property {
	background-color: #50c9ff;
}
.btn-new-property:hover {
	background-color: #fff;
	border-color: #50c9ff;
	color: #50c9ff;
}

.admin-property-card {
	flex-basis: calc(50% - 20px);
	margin: 0 10px 10px 10px;
	background-color: #fff;
	border: 1px solid #e9e9e9;
}

.btn-edit {
	background-color: #66676d;
	margin-right: 0.5px;
	margin-bottom: 1px;
	color: #000;
}
.btn-edit:hover {
	background-color: #f7f8f9;
}

.btn-delete {
	background-color: #66676d;
	margin-left: 0.5px;
	margin-bottom: 1px;
	color: #000;
}
.btn-delete:hover {
	background-color: #d72e3d;
}

@media screen and (max-width: 750px) {
	.admin-property-card {
		flex-basis: calc(100% - 20px);
	}
}

@media screen and (min-width: 1100px) {
	.admin-property-card {
		flex-basis: calc(33.3% - 20px);
	}
}

@media screen and (min-width: 1800px) {
	.admin-property-card {
		flex-basis: calc(25% - 20px);
	}
}

.admin-property-card:hover {
	opacity: 0.9;
	cursor: pointer;
}

.main-section {
	margin: 0 auto;
	padding-top: 200px;
}

.login-box {
	max-width: 550px;
	margin: 0 auto;
}

.admin-modal-content {
	background-color: #343a40;
	opacity: 0.95;
	padding: 0 18px;
	box-shadow: 0px 0px 3px #000;
}

.user-img {
	margin-top: -50px;
	margin-bottom: 35px;
}

.user-img img {
	height: 100px;
}

.admin-form-group {
	margin-bottom: 25px;
}

.admin-form-group input {
	height: 42px;
	border-radius: 5px;
	/* border: 0; */
	padding-left: 54px;
	font-size: 18px;
}

.admin-form-group::before {
	font-family: 'Font Awesome\ 5 Free';
	content: '\f007';
	position: absolute;
	font-size: 22px;
	color: #50c9ff;
	left: 28px;
	padding-top: 4px;
	font-weight: 900;
}

.admin-form-group:last-of-type::before {
	content: '\f023';
}

.admin-button {
	width: 40%;
	margin: 5px 0 25px;
	background-color: #50c9ff;
	color: #fff;
	font-size: 19px;
	padding: 7px 14px;
	border-radius: 5px;
}

.admin-button:hover,
.admin-button:focus {
	background-color: #fff;
	color: #50c9ff;
}

.login-icon {
	margin-right: 5px;
}

.stats {
	height: 1650px;
	width: 100%;
	background-image: url('./components/images/statistics-dashboard.png');
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	/* background-attachment: fixed; */
}
